* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(30, 38%, 92%);
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  width: 500px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  background: hsl(0, 0%, 100%);
  overflow: hidden;
  gap: 0;
}
.column-2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.column-2 h5 {
  color: hsl(228, 12%, 48%);
  padding-bottom: 20px;
}
.column-2 h2 {
  font-weight: 800;
  padding-bottom: 20px;
}
.column-2 p {
  color: hsl(228, 12%, 48%);
  font-size: medium;
  padding-bottom: 20px;
}
.prices {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.prices h3 {
  color: hsl(158, 36%, 37%);
  font-size: x-large;
  padding-right: 10px;
}
button {
  border: none;
  background: hsl(158, 36%, 37%);
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    width: 90%;
  }
}
